.table-container {
    width: 100%;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
}

.report-table th,
.report-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.report-table th {
    font-weight: bold;
}